# ==========================================
# Frontend_Driver - .gitignore
# ==========================================

# Non-code folders & documents
database/
docs/
legacy_mockup/
Logs/
logs/

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug & logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS & Windows
.DS_Store
Thumbs.db
*.pem

# Local env files
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Generated native folders
/ios/
/android/
